<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WP Exam</title>
    <link href="/form.css" rel="stylesheet">

</head>
<body>


<form th:method="post" th:action="@{${company != null} ? '/companies/' + ${company?.id} + '/edit' : '/companies/add'}">
    <div>
        <label for="name">Name</label>
        <input type="text"
               id="name"
               name="name" th:value="${company?.getName()}"
               required>
    </div>

    <button id="submit" type="submit" class="btn btn-success">Submit</button>
    <a id="back" href="/companies" type="button" class="btn btn-primary">Back to companies</a>
</form>


</body>
</html>